@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  @font-face {
    font-family: "Product Sans";
    src: url("./assets/product-sans/Product Sans Regular.ttf");
    
  }
  .b-blue{
    background-color: #2E5CFF;
  }
  .text-here{
    font-family: "Product Sans";
  }
  .border-1{
    border-width: 1px;
  }
  .font-tdark{
    color: #171717;
  }
  .border-b-1{
    border-bottom-width: 1px;
  }
  .text-blue{
    color: #2E5CFF;
  }
  .leading-x{
    line-height: 5rem;
  }
  .text-deepblue{
    color: #172E80;
  }
  .text-lgraysc{
    color: #F4F6FF;
  }
  .text-dgraysc{
    color: #FEF7F1;
  }
  .text-dpgray{
    color: #777777;
  }
  .bg-blue{
    background-color: #2E5CFF;
  }
  .bg-lgraysc{
    background-color: #F4F6FF;
  }
  .bg-dgraysc{
    background-color: #FEF7F1;
  }
  .bg-dpgray{
    background-color: #777777;
  }
}